// @import "/scss/mixins";
@media (min-width: 300px) {
  @keyframes Music {
    50% {
      height: 20%;
    }

    100% {
      height: 100%;
    }
  }

  body {
    width: 100vw;
    height: 100vh;
    // display: flex;
    background-image: linear-gradient(45deg, $mainColor, $secColor);
  }

  #loginPage {
    @include DisplayCenter;
    flex-direction: column;
    row-gap: 10vh;


    .container {
      @include DisplayCenter;
      width: 100%;
      max-height: 65vh;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    }

    .title {
      @include DisplayColumn(2vh);
      align-items: center;
    }

    .form-title {
      color: $blackColor;
      font-size: 30px;
      text-shadow: 0 0 10px $textColor;
    }

    h1 {
      color: gainsboro;
      font-size: 50px;
      text-shadow: 0 0 5px #0c120c;
    }

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    span {
      width: 5px;
      height: 100%;
      border-radius: 50px;
      background-color: gainsboro;
      animation-duration: 2s;
      animation-name: Music;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      &:nth-child(1) {
        animation-delay: 0s;
      }

      &:nth-child(2) {
        animation-delay: 0.3s;
      }

      &:nth-child(6) {
        animation-delay: 0.2s;
      }

      &:nth-child(4) {
        animation-delay: 0.9s;
      }

      &:nth-child(5) {
        animation-delay: 0.6s;
      }

      &:nth-child(6) {
        animation-delay: 0.3s;
      }

      &:nth-child(7) {
        animation-delay: 0s;
      }
    }
  }

  #createAccountForm {
    height: 70vh;
    row-gap: 2vh;


    form {
      @include DisplayColumn(4vh);
      align-items: center;
      justify-content: center;
      background-color: rgba(250, 250, 250, 0.3);
      border-radius: 7px;
      box-shadow: 0 0 5px $blackColor;
      width: 80%;
      height: 65vh;

      .input-group {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
      }

      input {
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid $btnColor;
        width: 250px;
        transition: background 0.4s, border-color 0.2s;
      }

      input:focus {
        border-color: $mainColor;
      }
    }

    .hidden {
      display: none;
    }

    button {
      width: 35%;
      padding: 2px;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      font-weight: 600;
    }

    ::placeholder {
      color: $blackColor;
      font-size: 18px;
    }

    .link-group {
      display: flex;
      flex-direction: column;
      @include DisplayCenter;
    }

    .link {
      line-height: normal;
      font-weight: 500;
      text-align: center;
      color: $blackColor;
      text-decoration: none;
      font-size: 16px;
      width: 100%;
      border: none;
      cursor: pointer;
    }

    .form-message {
      text-align: center;
    }

    .hidden {
      display: none;
    }

    button {
      width: 35%;
      padding: 2px;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      font-weight: 600;
    }

    ::placeholder {
      color: $blackColor;
      font-size: 18px;
    }

    .link-group {
      display: flex;
      flex-direction: column;
      @include DisplayCenter;
    }

    .link {
      line-height: normal;
      font-weight: 500;
      text-align: center;
      color: $blackColor;
      text-decoration: none;
      font-size: 16px;
      width: 100%;
      border: none;
      cursor: pointer;
    }

    .form-message {
      text-align: center;
    }
  }

  .form-message-error {
    color: red;
  }

  .form-message-success {
    color: green;
  }
}

// main page

.home {
  //display none cuz we start in charts
  display: none;
}

#mainPage {
  height: 100vh;
  width: 100vw;
  display: flex;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  [type="submit"],
  a {
    background-color: $btnColor;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0 0 5px $blackColor;
    color: $blackColor;
  }

  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5%;
    align-items: center;
  }

  #app {
    height: 75%;
    width: 100%;
    @include DisplayCenter;

    select {
      font-size: 18px;
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid $btnColor;
      width: 250px;
      border-radius: 5px;
    }

    form {
      @include DisplayColumn(2vh);
    }
  }

  footer {
    height: 20%;
    width: 100%;
    @include DisplayCenter;
  }
}

.btnLeft,
.btnRight {
  width: 15vw;
  text-align: center;
}

.btnRight {
  display: flex;

  a {
    width: 100%;
    height: 100%;
  }
}

.btnBottom {
  padding: 2vh;
  width: 50vw;
  text-align: center;
}

.form-messagae {
  color: red;
}

#party {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    height: 5%;
    @include DisplayCenter;
    position: relative;
  }

  section {
    height: 85%;
    @include DisplayCenter;
  }

  footer {
    height: 10%;
    @include DisplayCenter;
  }

  form {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }

  [type="submit"] {
    width: 15%;
    border: 1px solid $blackColor;
    border-radius: 5px;
    font-size: 18px;
    background-color: $btnColor;
  }

  [type="text"] {
    width: 80%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid $btnColor;
  }

  ::placeholder {
    color: $blackColor;
    font-size: 18px;
  }

  nav {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  ul {
    @include DisplayColumn(1vh);
  }

  li {
    color: $btnColor;
    // padding: 1vh;
  }

  .sideBar {
    width: 25vw;
    display: none;
    background-color: $blackColor;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;

    div {
      background-color: $btnColor;
      font-weight: 600;
      font-size: 18px;
      border-bottom-right-radius: 5px;
    }
  }

  .hamburguerMenu {
    width: 9%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    margin-top: 1vh;
    margin-left: 1vh;

    span {
      width: 30px;
      height: 5px;
      background-color: $blackColor;
    }

  }
}

.filter{
  position: absolute;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  div{
    background-color: $btnColor;
    width: 80vw;
    text-align: center;
    border-radius: 5px;
    border:1px solid $blackColor;
    // display: none;
  }
}

.queue {
  border-collapse: collapse;
  border: 1px solid $blackColor;
  margin: 1vh 0;
  width: 300px;

  thead {
    tr {
      background-color: $btnColor;
    }
  }

  td {
    border: 1px solid $blackColor;
    padding: 1vh;
    font-size: 18px;
    background-color: rgba(250, 250, 250, 0.2)
  }

  th {
    padding: 1vh;
  }
}

// Chart
.warehouse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 266px;
  height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: aliceblue;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);

  >.top {
    border: 5px solid aqua;
    color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    font-size: 16px;
    z-index: 5;

    .topInner {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 0 2%;
      // border: 5px solid aqua;
      height: 5%;
    }

    i {
      padding: 2% 0;
      cursor: pointer;
      transition: all 0.2s;
    }

    i.active {
      color: #4c00a4;
    }
  }

  .cover-image {
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("http://localhost:8080/image/pic-1.jpg");
    background-size: cover;
    background-position: center;
    transform-origin: 0% 0%;
    transition: all 0.2s ease-in;
  }

  .player-body {
    position: absolute;
    top: 245px;
    left: 0;
    height: 286px;
    width: 100%;
    background-color: #0c120c;
    transition: all 0.2s;
  }

  .listWrapper {
    color: white;
    height: 325px;
    width: 100%;
    overflow: auto;
    position: absolute;
    left: 0px;
    top: 280px;
    transform-origin: 0% 0%;
    transition: all 0.2s;
    opacity: 0;
    visibility: hidden;
    z-index: 25;
    transform: scale(0.1);

    >.list {
      width: 100%;
      // border-spacing: 0px 2px;
    }

    .nameOfSong {
      width: 215px;
      text-align: left;
      text-indent: 15px;
      transition: all 0.2s;
    }

    tr {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 70px;
      text-align: center;
      background-color: #1d1d1d;
      text-indent: 20px;
      transform-origin: 0% 50%;
      font-size: 15px;

      td {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12%;
      }

      td:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
      }

      i.active {
        color: #4c00a4;
      }
    }
  }

  >.current-song-title {
    position: absolute;
    right: 23px;
    font-size: 14px;
    bottom: 5px;
    transition: all 0.2s;
  }

  .bar {
    position: absolute;
    width: 90%;
    height: 2px;
    top: 440px;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    background-color: gainsboro;
    color: white;
    transform-origin: 0% 0%;
    transition: all 0.2s;

    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #4c00a4;
      position: relative;
      top: -4px;
      left: 0;
      user-select: none;
      pointer-events: none;
      transition: all 0.2s;
    }

    .time {
      width: 100%;
      position: absolute;
      top: -20px;
      left: 0;
      user-select: none;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all 0.2s;
    }
  }

  .info {
    color: azure;
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translate(-50%);
    text-align: center;
    transition: all 0.2s;
  }

  .info h2 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .info h3 {
    font-size: 10px;
    color: gainsboro;
  }

  .controls {
    color: aliceblue;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 90px;
    z-index: 30;
    transition: all 0.2s;
  }

  .controls #playpause {
    font-size: 40px;
  }

  .more-controls {
    color: rgb(153, 152, 152);
    font-size: 15px;
    height: 45px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    bottom: 5px;
    left: 5;
    z-index: 20;
    transition: all 0.2s;

    i.active {
      color: #4c00a4;
    }
  }
}

.warehouse.active {
  .cover-image {
    transform: scale(0.251);
    left: 10px;
    top: 34px;
    border-radius: 20px;
  }

  .top {
    color: black;
  }

  .player-body {
    height: 370px;
    left: 0;
    top: 130px;
  }

  .current-song-title {
    color: white;
  }

  .listWrapper {
    top: 140px;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  .info {
    color: black;
    top: 30px;
    left: 90px;
    text-align: left;
    transform: translate(0);
  }

  .controls {
    position: absolute;
    width: 216px;
    bottom: 5px;
    left: -60px;
    transform: scale(0.45);
  }

  .more-controls {
    bottom: -60px;
  }

  .bar {
    top: 90px;
    left: 90px;
    color: black;
    background-color: black;
    transform: scale(0.6875);
  }
}