// @import "/scss/mixins";
@media (min-width: 300px) {
  @keyframes Music {
    50% {
      height: 20%;
    }
    100% {
      height: 100%;
    }
  }
  #loginPage {
    @include DisplayCenter;
    flex-direction: column;
    row-gap: 10vh;
  }
  .container {
    @include DisplayCenter;
    width: 100%;
    max-height: 65vh;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  }
  body {
    width: 100vw;
    height: 100vh;
    // display: flex;
    background-image: linear-gradient(45deg, $mainColor, $secColor);
  }
  .title {
    @include DisplayColumn(2vh);
    align-items: center;
  }

  .form-title {
    color: $blackColor;
    font-size: 30px;
    text-shadow: 0 0 10px $textColor;
  }

  h1 {
    color: gainsboro;
    font-size: 50px;
    text-shadow: 0 0 5px #0c120c;
  }
  aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
    width: 10vh;

    span {
      width: 5px;
      height: 100%;
      border-radius: 50px;
      background-color: gainsboro;
      animation-duration: 2s;
      animation-name: Music;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      &:nth-child(1) {
        animation-delay: 0s;
      }
      &:nth-child(2) {
        animation-delay: 0.3s;
      }
      &:nth-child(3) {
        animation-delay: 0.6s;
      }
      &:nth-child(4) {
        animation-delay: 0.9s;
      }
      &:nth-child(5) {
        animation-delay: 0.6s;
      }
      &:nth-child(6) {
        animation-delay: 0.3s;
      }
      &:nth-child(7) {
        animation-delay: 0s;
      }
    }
  }
  form {
    @include DisplayColumn(4vh);
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 250, 250, 0.3);
    border-radius: 7px;
    box-shadow: 0 0 5px $blackColor;
    width: 80%;
    height: 65vh;

    .input-group {
      display: flex;
      flex-direction: column;
      row-gap: 2vh;
    }

    input {
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid $btnColor;
      width: 250px;
      transition: background 0.4s, border-color 0.2s;
    }
    input:focus {
      border-color: $mainColor;
    }
  }

  .hidden {
    display: none;
  }

  button {
    width: 35%;
    padding: 2px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
  }
  ::placeholder {
    color: $blackColor;
    font-size: 18px;
  }

  .link-group {
    display: flex;
    flex-direction: column;
    @include DisplayCenter;
  }

  .link {
    line-height: normal;
    font-weight: 500;
    text-align: center;
    color: $blackColor;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
    border: none;
  }

  // main page
  nav {
    display: none;
    background-color: white;
    padding: 10px;
    border: 4px solid;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  nav input {
    width: 50px;
  }
  // #app{
  //   width: 100vw;
  //   height: 90vh;
  //   @include DisplayCenter;
  // }
  article {
    // width: 100vw;
    height: 100vh;
    // border: 10px solid;
    box-sizing: border-box;
    @include DisplayCenter;
  }
  // section.page1 {
  //   color: red;
  // }
  // section.page2 {
  //   color: orange;
  // }
  // section.page3 {
  //   color: green;
  // }

  // .home,.profile{
  //   height: 100%;
  //   width: 100%;
  // }

  .home{ //display none cuz we start in charts
    display: none;
  }

  main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    row-gap: 80vh;
    align-items: center;
    position: fixed;

    a{
      background-color: $btnColor;
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      // padding: 1vh;
      // border: 1px solid $mainColor;
      border-radius: 5px;
      box-shadow: 0 0 5px $blackColor;
      color: $blackColor;
      // text-align: center;
    }
    article{
      height: 100%;
      // width: 100%;
    }
  }

  header {
    display: flex;
    // height: 5vh;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    // column-gap: 60vw;

    a{
      height: 7vh;
      width: 15vw;
      @include DisplayCenter;
    }
  }
  .playlist{
    padding: 2vh;
    width: 50vw;
    text-align: center;
  }

  .form-messagae{
    color: red;
  }
}
