@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
$mainColor : #4C00A4;
$secColor : rgb(187, 160, 202);
$blackColor : #0C120C;
$btnColor : #C3C3E6;
$textColor : #D1C8E1;

$fontFamily : 'Cairo', sans-serif;
